aula29-nodejs/node_modules/

aula30-exercicio-pratico/backend/node_modules/
aula30-node-crash-course-complementar/node_modules/
aula30-node-crash-course-complementar/.env

aula30-vite-ts-complementar/node_modules/
aula30-vite-ts-complementar/dist/