.card {
  width: 220px;
  height: 300px;
  border: 1px solid black;
  padding: 16px 4px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #333333;
}

.card > header {
  text-align: center;
}

.card > img {
  width: 100%;
  height: 45%;
  object-fit: contain;
}

.card > section {
  text-align: justify;
  font-size: 12px;
}

.card > section > .subtitulo {
  font-weight: bolder;
  font-size: 16px;
}

.card:nth-child(odd) {
  background: linear-gradient(to top, #d5e4ff, #f9f9f9);
}

.card:nth-child(even) {
  background: linear-gradient(to top, #fffed9, #f9f9f9);
}